<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Spotify</string>
	<key>CFBundleIdentifier</key>
	<string>Yifan.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>QSActions</key>
	<dict>
		<key>QSSpotifyPlayPlaylistAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSpotifyActionProvider</string>
			<key>actionSelector</key>
			<string>playPlaylist:</string>
			<key>directTypes</key>
			<array>
				<string>com.spotify.playlist</string>
			</array>
			<key>name</key>
			<string>Play Playlist</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Jin Yifan</string>
		<key>categories</key>
		<array>
			<string>Music</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Allows you to control Spotify</string>
		<key>extendedDescription</key>
		<string>&lt;h1 id=&quot;spotifyquicksilverplugin&quot;&gt;Spotify Quicksilver Plugin&lt;/h1&gt;

&lt;p&gt;Support 9 different commands to control Spotify.&lt;/p&gt;

&lt;p&gt;Commands include:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Dcrease Volume (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Increase Volume (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Mute (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Next Song (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Previous Song (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Play (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Pause (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Play/Pause (Spotify)&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Share on Twitter (Spotify)*&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;*Share on Twitter function relies on OS X&apos;s Twitter integration.&lt;/p&gt;

&lt;p&gt;Added &quot;(Spotify)&quot; suffix to some commands in order to distinguish with iTunes command.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.spotify.client</string>
		<key>relatedBundles</key>
		<array>
			<string>com.spotify.client</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetSpotify_PluginGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetSpotifyControl</string>
					<key>icon</key>
					<string>com.spotify.client</string>
					<key>name</key>
					<string>Spotify Control</string>
					<key>source</key>
					<string>QSSpotifyControlSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetSpotifyPlaylists</string>
					<key>icon</key>
					<string>com.spotify.client</string>
					<key>name</key>
					<string>Spotify Playlists</string>
					<key>source</key>
					<string>QSSpotifyObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.spotify.client</string>
			<key>name</key>
			<string>Spotify</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSSpotifyActionProvider</key>
			<string>QSSpotifyActionProvider</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict/>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.spotify.client</key>
			<string>QSSpotifyObjectSource</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>QSSpotifyDecreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>volumeDecrease</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Decrease Volume (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginDecreaseVolume</string>
				</dict>
			</dict>
			<key>QSSpotifyIncreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>volumeIncrease</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Increase Volume (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginIncreaseVolume</string>
				</dict>
			</dict>
			<key>QSSpotifyMute</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>volumeMute</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Mute (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginMute</string>
				</dict>
			</dict>
			<key>QSSpotifyNextSong</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>next</string>
								<key>icon</key>
								<string>iTunesNext</string>
								<key>name</key>
								<string>Next Song (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginNextSong</string>
				</dict>
			</dict>
			<key>QSSpotifyPause</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>pause</string>
								<key>icon</key>
								<string>iTunesPause</string>
								<key>name</key>
								<string>Pause (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPause</string>
				</dict>
			</dict>
			<key>QSSpotifyPlay</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>play</string>
								<key>icon</key>
								<string>iTunesPlay</string>
								<key>name</key>
								<string>Play (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPlay</string>
				</dict>
			</dict>
			<key>QSSpotifyPlayPause</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>togglePlayPause</string>
								<key>icon</key>
								<string>iTunesPlay-Pause</string>
								<key>name</key>
								<string>Play/Pause (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPlayPause</string>
				</dict>
			</dict>
			<key>QSSpotifyPreviousSong</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>previous</string>
								<key>icon</key>
								<string>iTunesPrevious</string>
								<key>name</key>
								<string>Previous Song (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPrevious</string>
				</dict>
			</dict>
			<key>QSSpotifySendToTwitter</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>sendTrackToTwitter</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Share on Twitter (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginSendToTwitter</string>
				</dict>
			</dict>
			<key>QSSpotifyStar</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>star</string>
								<key>icon</key>
								<string>SptifyIcon</string>
								<key>name</key>
								<string>Star (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginStar</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.spotify.playlist</key>
			<string>QSSpotifyObjectSource</string>
			<key>com.spotify.track</key>
			<string>QSSpotifyObjectSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSSpotifyControlSource</key>
			<string>QSSpotifyControlSource</string>
			<key>QSSpotifyObjectSource</key>
			<string>QSSpotifyObjectSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSSpotifyPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSSpotifyPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify</string>
			</dict>
		</dict>
		<key>QSTriggerSets</key>
		<dict>
			<key>com.spotify.client</key>
			<dict>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>com.spotify.playlist</key>
			<dict>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify Playlist</string>
			</dict>
			<key>com.spotify.track</key>
			<dict>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify Music</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
	<key>QSTriggerAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginStar</string>
			<key>command</key>
			<string>QSSpotifyStar</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Star</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginNextSong</string>
			<key>command</key>
			<string>QSSpotifyNextSong</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Next Song</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginSendToTwitter</string>
			<key>command</key>
			<string>QSSpotifySendToTwitter</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Share on Twitter</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPrevious</string>
			<key>command</key>
			<string>QSSpotifyPreviousSong</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Previous Song</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginIncreaseVolume</string>
			<key>command</key>
			<string>QSSpotifyIncreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Increase Volume</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginMute</string>
			<key>command</key>
			<string>QSSpotifyMute</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Mute</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPause</string>
			<key>command</key>
			<string>QSSpotifyPause</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Pause</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPlayPause</string>
			<key>command</key>
			<string>QSSpotifyPlayPause</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play/Pause</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginDecreaseVolume</string>
			<key>command</key>
			<string>QSSpotifyDecreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Decrease Volume</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPlay</string>
			<key>command</key>
			<string>QSSpotifyPlay</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
	</array>
</dict>
</plist>
