<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Spotify Plugin</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Spotify</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>QSActions</key>
	<dict>
		<key>QSSpotifyAddToPlaylistAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSpotifyActionProvider</string>
			<key>actionSelector</key>
			<string>addTrack:toPlaylist:</string>
			<key>directTypes</key>
			<array>
				<string>com.spotify.track</string>
			</array>
			<key>indirectTypes</key>
			<array>
				<string>com.spotify.playlist</string>
			</array>
			<key>name</key>
			<string>Add to playlist...</string>
			<key>precedence</key>
			<string>1</string>
		</dict>
		<key>QSSpotifyPlayItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSpotifyActionProvider</string>
			<key>actionSelector</key>
			<string>playItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.spotify.track</string>
				<string>com.spotify.playlist</string>
			</array>
			<key>name</key>
			<string>Play</string>
			<key>precedence</key>
			<string>0</string>
		</dict>
		<key>QSSpotifySearch</key>
		<dict>
			<key>actionClass</key>
			<string>QSSpotifyActionProvider</string>
			<key>actionSelector</key>
			<string>search:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Search on Spotify</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Jin Yifan</string>
		<key>categories</key>
		<array>
			<string>Music</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Allows you to control Spotify</string>
		<key>extendedDescription</key>
		<string>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset="utf-8"&gt;&lt;title&gt;Help.md&lt;/title&gt;&lt;style&gt;&lt;/style&gt;&lt;/head&gt;&lt;body id="preview"&gt;
&lt;h1&gt;&lt;a id="Spotify_Quicksilver_Plugin_0"&gt;&lt;/a&gt;Spotify Quicksilver Plugin&lt;/h1&gt;
&lt;p&gt;Support 11 different commands to control Spotify.&lt;/p&gt;
&lt;p&gt;Commands include:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Decrease Volume (Spotify)&lt;/li&gt;
&lt;li&gt;Increase Volume (Spotify)&lt;/li&gt;
&lt;li&gt;Mute (Spotify)&lt;/li&gt;
&lt;li&gt;Next Song (Spotify)&lt;/li&gt;
&lt;li&gt;Previous Song (Spotify)&lt;/li&gt;
&lt;li&gt;Play (Spotify)&lt;/li&gt;
&lt;li&gt;Pause (Spotify)&lt;/li&gt;
&lt;li&gt;Play/Pause (Spotify)&lt;/li&gt;
&lt;li&gt;Share on Twitter (Spotify)*&lt;/li&gt;
&lt;li&gt;Save (Spotify)**&lt;/li&gt;
&lt;li&gt;Follow Artist***&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;*Share on Twitter function relies on OS X’s Twitter integration.&lt;br&gt;
**Save command will save current playing track to Your Music Library. You need login to support this function.&lt;br&gt;
***This function will let you follow the artist of the current playing track. You need login to support this function.&lt;/p&gt;
&lt;p&gt;Now also support “Current playing” proxy. After login from preference panel, all your public playlists as well as each playlist’s first 100 songs will add to your catalog. You can also “right arrow” into Spotify to see all the playlists.&lt;/p&gt;
&lt;p&gt;If you want to have your private playlists into your catalog, be sure to check the check box in preference panel.&lt;/p&gt;
&lt;p&gt;Support Actions:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Play track or playlist&lt;/li&gt;
&lt;li&gt;Open playlist in web Browser&lt;/li&gt;
&lt;li&gt;Add track to a playlist (dose not support legacy starred playlist)&lt;/li&gt;
&lt;li&gt;Search on Spotify (will open your default browser to show search results)&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Added “(Spotify)” suffix to some commands in order to distinguish with iTunes command.&lt;/p&gt;
&lt;p&gt;Thanks for Rob McBroom at Quicksilver Development Google group for all those suggestions.&lt;/p&gt;

&lt;/body&gt;&lt;/html&gt;</string>
		<key>icon</key>
		<string>com.spotify.client</string>
		<key>relatedBundles</key>
		<array>
			<string>com.spotify.client</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetSpotify_PluginGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetSpotifyControl</string>
					<key>icon</key>
					<string>com.spotify.client</string>
					<key>name</key>
					<string>Spotify Control</string>
					<key>source</key>
					<string>QSSpotifyControlSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetSpotifyPlaylists</string>
					<key>icon</key>
					<string>com.spotify.client</string>
					<key>name</key>
					<string>Spotify Playlists</string>
					<key>source</key>
					<string>QSSpotifyObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.spotify.client</string>
			<key>name</key>
			<string>Spotify</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSSpotifyActionProvider</key>
			<string>QSSpotifyActionProvider</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict/>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.spotify.client</key>
			<string>QSSpotifyObjectSource</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>QSSpotifyDecreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>volumeDecrease</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Decrease Volume (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginDecreaseVolume</string>
				</dict>
			</dict>
			<key>QSSpotifyFollowArtist</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>followArtist</string>
								<key>icon</key>
								<string>SptifyIcon</string>
								<key>name</key>
								<string>Follow Artist</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginFollowArtist</string>
				</dict>
			</dict>
			<key>QSSpotifyIncreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>volumeIncrease</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Increase Volume (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginIncreaseVolume</string>
				</dict>
			</dict>
			<key>QSSpotifyMute</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>volumeMute</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Mute (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginMute</string>
				</dict>
			</dict>
			<key>QSSpotifyNextSong</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>next</string>
								<key>icon</key>
								<string>iTunesNext</string>
								<key>name</key>
								<string>Next Song (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginNextSong</string>
				</dict>
			</dict>
			<key>QSSpotifyPause</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>pause</string>
								<key>icon</key>
								<string>iTunesPause</string>
								<key>name</key>
								<string>Pause (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPause</string>
				</dict>
			</dict>
			<key>QSSpotifyPlay</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>play</string>
								<key>icon</key>
								<string>iTunesPlay</string>
								<key>name</key>
								<string>Play (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPlay</string>
				</dict>
			</dict>
			<key>QSSpotifyPlayPause</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>togglePlayPause</string>
								<key>icon</key>
								<string>iTunesPlay-Pause</string>
								<key>name</key>
								<string>Play/Pause (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPlayPause</string>
				</dict>
			</dict>
			<key>QSSpotifyPreviousSong</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>previous</string>
								<key>icon</key>
								<string>iTunesPrevious</string>
								<key>name</key>
								<string>Previous Song (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginPrevious</string>
				</dict>
			</dict>
			<key>QSSpotifySave</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>save</string>
								<key>icon</key>
								<string>SptifyIcon</string>
								<key>name</key>
								<string>Save (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginSave</string>
				</dict>
			</dict>
			<key>QSSpotifySendToTwitter</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginControlProvider</string>
								<key>actionSelector</key>
								<string>sendTrackToTwitter</string>
								<key>icon</key>
								<string>SpotifyIcon</string>
								<key>name</key>
								<string>Share on Twitter (Spotify)</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginSendToTwitter</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.spotify.playlist</key>
			<string>QSSpotifyObjectSource</string>
			<key>com.spotify.track</key>
			<string>QSSpotifyObjectSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSSpotifyControlSource</key>
			<string>QSSpotifyControlSource</string>
			<key>QSSpotifyObjectSource</key>
			<string>QSSpotifyObjectSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSSpotifyPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSSpotifyPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSSpotifyCurrentTrackProxy</key>
			<dict>
				<key>icon</key>
				<string>ProxyIcon</string>
				<key>name</key>
				<string>Currently Playing Track (Spotify)</string>
				<key>providerClass</key>
				<string>QSSpotifyObjectSource</string>
				<key>types</key>
				<array>
					<string>com.spotify.track</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerSets</key>
		<dict>
			<key>com.spotify.client</key>
			<dict>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>com.spotify.playlist</key>
			<dict>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify Playlist</string>
			</dict>
			<key>com.spotify.track</key>
			<dict>
				<key>icon</key>
				<string>com.spotify.client</string>
				<key>name</key>
				<string>Spotify Music</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
	<key>QSTriggerAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginFollowArtist</string>
			<key>command</key>
			<string>QSSpotifyFollowArtist</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Follow Artist</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginSave</string>
			<key>command</key>
			<string>QSSpotifySave</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Save</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginNextSong</string>
			<key>command</key>
			<string>QSSpotifyNextSong</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Next Song</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginSendToTwitter</string>
			<key>command</key>
			<string>QSSpotifySendToTwitter</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Share on Twitter</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPrevious</string>
			<key>command</key>
			<string>QSSpotifyPreviousSong</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Previous Song</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginIncreaseVolume</string>
			<key>command</key>
			<string>QSSpotifyIncreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Increase Volume</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginMute</string>
			<key>command</key>
			<string>QSSpotifyMute</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Mute</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPause</string>
			<key>command</key>
			<string>QSSpotifyPause</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Pause</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPlayPause</string>
			<key>command</key>
			<string>QSSpotifyPlayPause</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play/Pause</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginDecreaseVolume</string>
			<key>command</key>
			<string>QSSpotifyDecreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Decrease Volume</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginPlay</string>
			<key>command</key>
			<string>QSSpotifyPlay</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play</string>
			<key>set</key>
			<string>Spotify</string>
		</dict>
	</array>
</dict>
</plist>
