<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>Yifan.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>QSActions</key>
	<dict>
		<key>Spotify_PluginExampleAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSpotify_PluginActionProvider</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSSpotify_PluginType</string>
			</array>
			<key>icon</key>
			<string>ToolbarAdvanced</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Jin Yifan</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>One-line summary for this plug-in</string>
		<key>extendedDescription</key>
		<string>HTML formatted documentation for this plug-in.</string>
		<key>icon</key>
		<string>KEXT</string>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetSpotify_PluginGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetSpotify_PluginExample</string>
					<key>name</key>
					<string>Items from Spotify Plugin</string>
					<key>source</key>
					<string>QSSpotify_PluginSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>KEXT</string>
			<key>name</key>
			<string>Spotify Plugin Presets</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSSpotify_PluginActionProvider</key>
			<string>QSSpotify_PluginActionProvider</string>
		</dict>
		<key>QSApplicationActionsTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<dict>
				<key>Spotify_PluginExampleCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSSpotify_PluginActionProvider</string>
					<key>command</key>
					<string>Spotify_PluginExampleCommand</string>
					<key>name</key>
					<string>Application Action Example</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>QSSpotify_PluginType</key>
			<string>QSSpotify_PluginSource</string>
		</dict>
		<key>QSBundleChildHandlersTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<string>QSSpotify_PluginSource</string>
		</dict>
		<key>QSCommandsTemplate</key>
		<dict>
			<key>Spotify_PluginExampleCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSSpotify_PluginActionProvider</string>
								<key>actionSelector</key>
								<string>someSelector</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Do Something</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>Spotify_PluginInternalCommand</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSSpotify_PluginType</key>
			<string>QSSpotify_PluginSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSSpotify_PluginSource</key>
			<string>QSSpotify_PluginSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>Spotify_PluginPrefPaneTemplate</key>
			<dict>
				<key>class</key>
				<string>Spotify_PluginPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Spotify_Plugin</string>
			</dict>
		</dict>
		<key>QSProxiesTemplate</key>
		<dict>
			<key>Spotify_PluginSomeProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>Spotify_Plugin Proxy</string>
				<key>providerClass</key>
				<string>QSSpotify_PluginSource</string>
				<key>types</key>
				<array>
					<string>QSSpotify_PluginType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEventsTemplate</key>
		<dict>
			<key>Spotify_PluginSomeEvent</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Do something in response to this event</string>
				<key>provider</key>
				<string>QSSpotify_PluginSource</string>
			</dict>
		</dict>
		<key>QSTriggerSetsTemplates</key>
		<dict>
			<key>Spotify_PluginTriggers</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Spotify Plugin</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSSpotify_PluginType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>Spotify_Plugin Object</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.qsapp.Another.PlugIn</string>
				<key>name</key>
				<string>Another Plug-in</string>
			</dict>
		</array>
	</dict>
	<key>QSTriggerAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>Spotify_PluginTrigger</string>
			<key>command</key>
			<string>Spotify_PluginExampleCommand</string>
			<key>defaults</key>
			<dict>
				<key>characters</key>
				<string>x</string>
				<key>keyCode</key>
				<integer>124</integer>
				<key>modifiers</key>
				<integer>9961768</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Example Trigger</string>
			<key>set</key>
			<string>Spotify_Plugin</string>
		</dict>
	</array>
</dict>
</plist>
